/* 1. Reset- und Box-Sizing-Regeln */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. Basiswerte für html und body */
html {
    height: 100%;
}

body {
    /* 2. Schwarze Seitenfläche und helle Schrift */
    background-color: #121212;
    /* Sehr dunkles Grau / fast Schwarz */
    color: #f5dfdf;
    /* helle Schrift */
    font-family: sans-serif;


    min-height: 100vh;

    display: flex;
    justify-content: center;
    /* Zentriert den Inhalt horizontal */
    align-items: center;
    /* Zentriert den Inhalt vertikal */
}

#accordianFrame {
    width: 900px;

    height: 450px;
    border: 2px solid #333;
    border-radius: 12px;
    /* Abgerundete Ecken wie im Endergebnis*/
    overflow: hidden;

    /* Damit die 5 Panels aus Aufgabe 5 nebeneinander liegen: */
    display: flex;

}

#titleBox {
    /* 3. Positioniere die Titelbox im Akkordeon-Rahmen */

    position: relative;

    padding: 10px;
    width: 200px;
    margin: 10px;

    /* 4. Bereite Farbe, Rahmen und Drehung vor */
    background-color: #0078D7;
    /* Farbe (Hintergrund) */
    color: white;
    /* Farbe (Text) */
    border: 2px solid #005A9E;
    /* Rahmen */

    /* vorbereitete aber noch nciht gedreht */
    transform: rotate(0deg);
}